<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script type=text/javascript>
            var updateAllSensorValues = function() {
              $.getJSON($SCRIPT_ROOT + '/m1k/sensors/all', function(data) {
                $("#voltage_temperature_sensor").text(data.temperature_sensor.voltage);
                $("#temperature_celsius").text(data.temperature_sensor.temperature_celsius+" ºC");
                $("#temperature_fahrenheit").text(data.temperature_sensor.temperature_fahrenheit+" ºF");
                $("#temperature_kelvin").text(data.temperature_sensor.temperature_kelvin+" K");

                $("#voltage_soilmoisture_sensor").text(data.soil_humidity_sensor.voltage);
                $("#voltage_gas_sensor").text(data.gas_sensor.voltage);
                $("#voltage_flame_sensor").text(data.flame_sensor.voltage);
              })
            };
            
            var update_interval = null;

            $(function() {
              $("#autoupdate").change(function() {
                if( $("#autoupdate").prop("checked") == true) {
                  update_interval = setInterval(updateAllSensorValues, 2000);
                }
                else {
                  clearInterval(update_interval);
                }
              })
            });
            
            $(function() {
              $('button#temperature').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/m1k/sensors/temperature', function(data) {
                  $("#voltage_temperature_sensor").text(data.voltage);
                  $("#temperature_celsius").text(data.temperature_celsius+" ºC");
                  $("#temperature_fahrenheit").text(data.temperature_fahrenheit+" ºF");
                  $("#temperature_kelvin").text(data.temperature_kelvin+" K");
                });
                return false;
              });
            });

            $(function() {
              $('button#soilmoisture').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/m1k/sensors/soilmoisture', function(data) {
                  $("#voltage_soilmoisture_sensor").text(data.voltage);
                });
                return false;
              });
            });

            $(function() {
              $('button#gas').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/m1k/sensors/gas', function(data) {
                  $("#voltage_gas_sensor").text(data.voltage);
                });
                return false;
              });
            });

            $(function() {
              $('button#flame').bind('click', function() {
                $.getJSON($SCRIPT_ROOT + '/m1k/sensors/flame', function(data) {
                  $("#voltage_flame_sensor").text(data.voltage);
                });
                return false;
              });
            });
        </script>
    </head>

    <body background="static/bk7.jpeg">

      <div style="border-radius: 10px; color: black; background-color: lightsteelblue">
        <img src="{{url_for('static',filename='ufsc.png')}}" style="padding-left: 20px; padding-top: 10px; float: left;" alt="Brasão UFSC" height="150" width="120">
        
        <p style="padding-top: 30px; padding-left: 160px;">
          <b style="padding-right:37px;">Curso:</b> Engenharia da Computação
        </p>
        
        <p style="padding-left: 160px;">
          <b>Disciplina:</b> Sistemas Digitais Embarcados (DEC7560)
        </p>
        
        <p style="padding-left: 160px;">
          <b style="padding-right: 16px;">Docente:</b> Rodrigo Vinicius Mendonça Pereira
        </p>
        
        <p style="padding-bottom: 30px; padding-left: 160px;">
          <b style="padding-right: 4px;">Discentes:</b> Alexandre Rosa, Pedro Thaines e Rafael Canal
        </p>
      </div>

    

    <table style="margin-top:100px; background-color: lightsteelblue;" border="2px;"style="width:60%" align="center">
        <tr>
            <th>Tensão (V)</th>
            <th>Significado</th>
            <th>Sensor</th>
            <th colspan="2">ADALM1000 - M1K</th>
            <th>Obter Dados:</th>
        </tr>
        <tr>
            <th id="voltage_soilmoisture_sensor"></th>
            <th>
              <p>-</p>
            </th>
            <th><p style="margin-bottom: 5px; margin-top: 5px;">KS0049</p><img src="{{url_for('static',filename='humidade.png')}}" style="padding-bottom:10px; padding-left: 10px; padding-right: 10px;" alt="Humidity" height="60" width="120"></th>
            <th rowspan="5" colspan="2">

              <div style="color: black; margin-bottom: 20px;">
                <input type="checkbox" id="autoupdate" name="autoupdate" style="transform: scale(1.3);">
                <label for="autoupdate">Atualizar Leituras Automaticamente</label>
              </div>

              <img src="{{url_for('static',filename='m1k.png')}}" style="margin-left: 20px; margin-right: 20px;" alt="ADALM1000 (M1K)" height="270" width="440"></th>
            <th><button id="soilmoisture" type="button" style="width: 200px; height: 60px; margin-left: 20px; margin-right: 20px;">Humidade</button></th>
        </tr>
        <tr>
            <th id="voltage_temperature_sensor"></th>
            <th>
                <p id="temperature_celsius">-</p>
                <p id="temperature_fahrenheit">-</p>
                <p id="temperature_kelvin">-</p>
            </th>
            <th><p style="margin-bottom: 5px; margin-top: 5px;">LM35</p><img src="{{url_for('static',filename='temperatura.png')}}" style="padding-bottom:10px;  padding-left: 10px; padding-right: 10px;" alt="Temperature" height="60" width="120"></th>
            <th><button id="temperature" type="button" style="width: 200px; height: 60px; margin-left: 20px; margin-right: 20px;">Temperatura</button></th>
        </tr>
        <tr>
            <th id="voltage_gas_sensor"></th>
            <th>
              <p>-</p>
            </th>
            <th><p style="margin-bottom: 5px; margin-top: 5px;">MQ-2</p><img src="{{url_for('static',filename='gas.png')}}" style="padding-bottom:10px;  padding-left: 10px; padding-right: 10px;" alt="Gas" height="60" width="120"></th>
            <th><button id="gas" type="button" style="width: 200px; height: 60px; margin-left: 20px; margin-right: 20px;">Gás</button></th>
        </tr>
        <tr>
            <th id="voltage_flame_sensor"></th>
            <th>
              <p>-</p>
            </th>
            <th><p style="margin-bottom: 5px; margin-top: 5px;">KS0036</p><img src="{{url_for('static',filename='chama.png')}}" style="padding-bottom:10px;  padding-left: 10px; padding-right: 10px;" alt="Flame" height="60" width="120"></th>
            <th><button id="flame" type="button" style="width: 200px; height: 60px; margin-left: 20px; margin-right: 20px;">Chama</button></th>
        </tr>
    </table>
    <a></a>
    </body>
</html>
